-- AlterTable
ALTER TABLE "Certificate" ADD COLUMN     "projectsCompleted" JSONB;

-- AlterTable
ALTER TABLE "Submission" ADD COLUMN     "firstPassReview" JSONB,
ADD COLUMN     "videoUrl" TEXT;

-- AlterTable
ALTER TABLE "Task" ADD COLUMN     "skillTags" TEXT[] DEFAULT ARRAY[]::TEXT[];

-- AlterTable
ALTER TABLE "User" ADD COLUMN     "alumniSince" TIMESTAMP(3),
ADD COLUMN     "isAlumni" BOOLEAN NOT NULL DEFAULT false;

